[*.cs]
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf
charset = utf-8
indent_style = space
indent_size = 4
roslynator_binary_operator_new_line = before
roslynator_conditional_operator_new_line = before
roslynator_arrow_token_new_line = before
roslynator_blank_line_between_using_directives = never
roslynator_block_braces_style = multi_line
roslynator_new_line_at_end_of_file = true
roslynator_blank_line_after_file_scoped_namespace_declaration = true
roslynator_blank_line_between_switch_sections = include
roslynator_blank_line_between_closing_brace_and_switch_section = true
roslynator_empty_string_style = field